
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        <form action="/Home/AddDo" method="post">
            产品名:<input type="text" name="ProductName" /><br />
            产品价格:<input type="text" name="ProductPrice" /><br />
            <input type="submit" name="添加" />
        </form>
    </div>
</body>
</html>
