@model ProductModels.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div> 
        <form action="/Home/Editdo">
            产品名:<input type="text" name="ProductName" value="@Model.ProductName" />
            <input type="hidden" name="ProductID" value="@Model.ProductID" />
            <br />
            类型:@Html.DropDownList("CategoryID")<br />
            <input type="submit" value="修改" />
        </form>
    </div>
</body>
</html>
