@model List<ProductModels.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/Home/Search" method="get">
            产品名称:<input type="text" name="ProductName"/>
            产品类型:@Html.DropDownList("cid")
            <input type="submit"   value="查询"/>
        </form>
        <table>
            <tr>
                <td>产品名</td>
                <td>产品类型</td>
                <td>操作</td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.cat.CategoryName</td>
                    <td><a href="/Home/Edit/@item.ProductID">修改</a></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
